body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
	color: white;
	text-decoration: none;
}

.alert {
    color: #FFF;
    background: #349e92;
	border-bottom: 1px #1e1e1e solid;
}

.login {
    width: 300px;
    height: 240px;
    background: #1e1e1e;
    border-radius: 6px;
    margin: 50px auto;
}

.login .title {
    height: 14px;
    padding: 13px;
    text-align: center;
    font-weight: bold;
    background: #121212;
    border: #2d2d2d solid 1px;
    margin-bottom: 30px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.login form {
    width: 240px;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.login form input[type=text] {
    width: 240px;
	outline: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    border: none;
    color: #bfbfbf;
    background: #141414;
	margin-bottom: 5px;
    border-radius: 6px;
}

.login form input[type=submit] {
	margin-top: 20px;
    width: 240px;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
    border: none;
    background: #349e92;
    text-align: center;
    font-weight: bold;
	color: white;
}
