body{
	font-family: times, sans-serif, verdana;
	font-size: 16px;
	margin: 0 auto;
}

#wrapper{
	width: 960px;
	margin: 0 auto;
}

#header{
	width: 960px;
	text-align: center;
}

#content{
	text-align: center;
}

