/* Website template by freewebsitetemplates.com */
html {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background: url(../images/bg-body.jpg) repeat;
	margin: 0;
}
img {
	border: 0;
}
#background {
	background-color: #050404;
	display: block;
	height: 1440px;
	width: 50%;
	position: absolute;
	left: 0;
	top: 0;
}
#page {
	background: url(../images/bg-page.jpg) repeat-y left top;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#connect .facebook, #connect .twitter, #connect .link-us {
	background: url(../images/icons.gif) no-repeat;
}
#contents span.header, #contents h3, #contents ul li, #contents div.blogs span {
	background: url(../images/interface.gif) no-repeat;
}

/** Links **/
#sidebar {
	float: left;
	color: #ebebeb;
	height: 100%;
	width: 260px;
	padding-left: 5px;
}
#sidebar ul {
	list-style-type: none;
	margin: 0 0 60px;
	padding: 0;	
	text-align: left;
}
#sidebar a {
	color: #ebebeb;
	text-decoration: none;
}

#logo {
	line-height: 20px;
	margin: 0 0 60px;
}
#logo a {
	background: url(../images/logo.jpg) no-repeat right top;
	color: #be1010;
	display: block;
	font-size: 14px;
	width: 209px;
	padding: 120px 25px 0;
	text-align: center;
}
#logo a em {
	font-size: 16px;
}

#navigation li {
	font-size: 19px;
	line-height: 40px;
}
#navigation li a {
	display: block;
	width: 259px;
	text-transform: uppercase;
}
#navigation li.selected a, #navigation li a:hover {
	background: url(../images/menu-selected.gif) no-repeat 190px center;
}

#connect {
	display: inline-block;
}
#connect li {
	float: left;
	width: 85px;
	text-align: center;
}
#connect li a {
	display: block;
	height: 36px;
	margin: 0 auto;
}
#connect .facebook {
	background-position: 0 0;
	width: 40px;
}
#connect .twitter {
	background-position: 0 -47px;
	width: 46px;
}
#connect .link-us {
	background-position: 0 -94px;
	width: 40px;
}

#sidebar .footer {
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}

/** Contents **/
#contents {
	min-height: 1380px;
	width: 690px;
	margin: 0 0 0 264px;
	padding-top: 60px;
}
#contents span.header {
	background-position: 0 -224px;
	display: block;
	height: 47px;
	width: 644px;
	margin: 0 auto 13px;
}
#contents h3 {
	background-position: 0 -154px;
	color: #ebebeb;
	font-weight: normal;
	height: 27px;
	width: 596px;
	margin: 0 auto;
	padding: 18px 8px 15px;
	text-transform: uppercase;
}
#contents div {
	width: 612px;
	margin: 0 auto;
	padding: 0 0 20px;
}
#contents div a {
	color: #a40e0e;
	text-decoration: none;
}
#contents div p {
	font-size: 13px;
	line-height: 20px;
	margin: 20px 0 19px;
	padding: 0 0 20px;
}

#contents ul.images {
	display: inline-block;
	list-style-type: none;
	width: 622px;
	margin: 0 auto 15px;
}
#contents ul.images li {
	float: left;
	background-position: 0 0;
	height: 130px;
	width: 130px;
	margin: 13px 5px 13px;
	padding: 7px 7px 17px;
}

#contents .img-gallery {
	color: #000000;
	display: block;
	font-size: 11px;
	line-height: 20px;
	margin-left: 40px; 
}

#contents a.more {
	font-style: italic;
	text-decoration: underline;
}

/** About **/
#contents div.links a {
	background-color: #bfbdbd;
	color: #faf7f7;
	font-size: 12px;
	padding: 2px 10px 1px;
	text-decoration: none;
	text-transform: uppercase;
}

#contents div.about {
	margin-bottom: 0;
	padding-bottom: 20px;
}

#contents div.about span {
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
}

#contents div.tags {
	background-color: #bfbdbd;
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
	padding: 0;
}
#contents div.tags span {
	color: #626262;
	font-size: 0.92em;
	padding: 0 10px;
	text-transform: uppercase;
}
#contents div.tags a {
	color: #faf7f7;
	font-size: 12px;
	padding: 0 10px;
}

/** Blog **/
#contents div.blogs p {
	height: 160px;
	margin: 0;
	padding: 0;
}
#contents div.blogs span {
	float: left;
	background-position: 0 0;
	display: block;
	height: 130px;
	width: 130px;
	margin-right: 10px;
	padding: 7px 7px 23px;
}
#contents div.paginate a {
	color: #434242;
	font-size: 0.9em;
	padding: 0 3px;
}

/** IE6 **/
#background {
	_height: 1440px;
}

#sidebar {
	_height: 1440px;
}
